@tailwind base;
@tailwind components;
@tailwind utilities;

.shimmer-bg {
    background: linear-gradient(100deg,
            rgba(255, 255, 255, 0.05) 20%,
            rgba(255, 255, 255, 0.15) 50%,
            rgba(255, 255, 255, 0.05) 80%);
    background-size: 200% 100%;
    animation: shimmer 1.6s infinite;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

.shimmer-card {
    position: relative;
    overflow: hidden;
}